.section-title {
  color: $secondary-text-color;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
  //   min-width: 700px;

  &--bottom {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1160px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    &--bottom {
      margin-bottom: 50px;
    }
  }
}
